{
  "CN": "front-proxy",
  "hosts": [],
  "key": {
    "algo": "rsa",
    "size": 2048
  },
  "names": [
    {
      "C": "CN",
      "ST": "GUIZHOU",
      "L": "XIAMEN",
      "O": "BAISHAN",
      "OU": "front-proxy"
    }
  ]
}
